<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>用户资料</string>
			<key>image</key>
			<string>1.jpg</string>
			<key>id</key>
			<string>1</string>
			<key>class</key>
			<string>class1</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>回复提醒</string>
			<key>class</key>
			<string></string>
			<key>height</key>
			<string>50</string>
		</dict>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>title</key>
			<string>发帖记录</string>
			<key>class</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>height</key>
			<string>50</string>
			<key>title</key>
			<string>设置</string>
			<key>class</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
